
.cab1{
    width: 900px;
    height: 300px;
    position: relative;
    
    left: 15%;
    background-color:#c19182;
    box-shadow: -5px 5px 6px 6px #d1cebd;
    
    
    border-top: 10px pink;
    border-top-style: inset;
  
    
    
}
.cab1 .nave{
    position: relative;
    top: 50px;
    left: 50px;
    
    
}
.cab1 .nave ul{
    list-style: none;
}
.nave ul li{
    display: flex;
}
.nave ul li a{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}
.nave ul li a:hover{
font-size: 34px;
}


.des{
    font-size: 28px;
    justify-content: center;
    margin-bottom: 10px;
}
