
.cab1{
    width: 900px;
    height: 300px;
    position: absolute;
    
    left: 15%;
    background-color:#c19182;
}
.cab1 .nave{
    position: relative;
    top: 50px;
    left: 50px;
    right: 100%;
    bottom: 100%;
    font-family: Arial;
}
.cab1 .nave ul{
    list-style: none;
}
.nave ul li{
    display: flex;
}
.nave ul li a{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}
.nave ul li a:hover{

}


.des{
    font-size: 28px;
    font-family:Arial;
    justify-content: center;
    color: #bdbec6;
}