*{
    padding: 0;
    margin: 0;
}

.contener{
    position: absolute;
    left: 10%;
    top: 1%;
    width: 500px;
    height: 500px;
    
}
.post{
    position: relative;
    left: 30%;
    top: 10%;
    font-family: Helvetica;
    
}
.post p{
    margin: 5px;
    
}