@import url('cab.css');
/* alt + 39 comillas simple */ 
*{
    padding: 0;
    margin: 0;
}

.contener{
    position: relative;
    top: 150px;
    width: 500px;
    height: 500px;
    background-color:burlywood;
}
.post{
    position: relative;
    left: 30%;
    top: 10%;
<<<<<<< HEAD
    font-family: Helvetica;
    
=======
>>>>>>> holaaaaa
}
.post p{
    margin: 5px;
}