@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Do+Hyeon|Hind&display=swap');

@import url('cab.css');

@import url('cab_lo.css');

@import url('footer.css');

/* alt + 39 comillas simple */ 
*{
    padding: 0;
    margin: 0;
    -webkit- box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: #384e60;
}

.contener{
    position: relative;
    top: 50px;
    left: 15%;
    width: 500px;
    height: 300px;
    background-color:burlywood;
   
}
.post{
    position: absolute;
    left: 15%;
    top: 10%;
    font-family: Helvetica;
}

.post p{
    margin: 5px;
}
.asi1{
    position: relative;
    left: 60%;
    bottom: 250px;
    width: 300px;
    height: 350px;
    border: solid 1px #000;
}
